@media screen and (max-width: 768px) {
    .header {
        padding: 16px 20px;
        margin-bottom: 0;
        
        .navigation {
                    display: none;
        }
        .buttons img {
            display: none;
        }
    }

    main{

        padding-top: 40px;
        .picture img{
            width: 100%;
        }
        .section{
            width: 100%;
        }
        .section-one{
            padding-top: 0;
            .title-one {
                font-size: 36px;
                line-height: 45px;
                letter-spacing: -0.9px;
                margin-top: 0;
            }
        
            .text-hero {
                font-size: 18px;
                line-height: 28px;
            }
            .hero{
                padding-bottom: 40px;
            }
            .picture{
                margin-top: 40px;
                margin-bottom: 94px;
            }                 
        } 
        
        .section-two {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 335px;
            padding: 0;

            .disflex-two {
               display: flex;
               flex-wrap: wrap;
               max-width: 335px;
               row-gap: 32px;
           }
           
           .list-logo {
                max-width: 335px;
                padding-bottom: 16px;
           }   
        }
        .section-three{
            margin: 48px 20px;

            .title-two{
                margin-bottom: 8px;
                font-size: 36px;
                line-height: 45px;
                letter-spacing: -0.9px;
            }       

            .text{
                margin-bottom: 48px;
            }

        }

        .features{
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .text-sct-three {   
            padding: 0 16px;    
        }
        
        .list {
                margin-left: auto;
                margin-top: 0px;
                margin-bottom: 48px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(6, 1fr);
                grid-template-areas:
                    "item1"
                    "item2"
                    "item3"
                    "item4"
                    "item5"
                    "item6";
                gap: 64px;
                column-gap: 30px;
        }

        .section-four{

            .four-one{
                padding-top: 80px;
                .box-title{
                    display: flex;
                    justify-content: center;
                    padding-left: 0;
                    flex-direction: column;
                    gap: 8px;
                } 
            }
        }
        
        .section-five{
            margin: 48px 0;
            padding: 0;

        }

        .title-two {
            justify-content: center;
            font-size: 30px;
            line-height: 40px;
        }

        .text {
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
        }

        .list-3{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
                "item1" 
                "item2"
                "item3"
                "item4";
            row-gap: 24px;
        }

        .section-six{
            display: flex;
            flex-direction: column;
            margin: 40px 0;
            padding: 20px 0;
            gap: 16px;

            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        .section-seven {
            display: flex;
            padding: 48px 20px 0;

            .title-svn{
                margin-top: 0;
            }

            .sect-svn {
                width: 100%;
            }
        
            .pictures{
                box-sizing: border-box;
                display: block;
                padding: 0 51px;
                height: 641px;      
            
                .picture-1,
                .picture-2,
                img {
                    align-self: center;
                }

                .picture-1 {
                    display: block;
                    width: 232px;
                }
                .picture-2 {
                    width: 232px;
                }
                
            }  
        }
           

    }

    .footer-cont {
        padding: 0 20px;
        flex-direction: column;

        .footer-main {
            flex-direction: column;
        }

        .disflex {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "download download license ."
                "about features pricing news"
                "help contact . .";
            row-gap: 12px;
            column-gap: 24px;
            width: 335px;
            list-style: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}