/* WORKSPACE.HTML */
p,
h2,
h1,
h3,
h4,
h5,
body,
div {
  margin: 0;
  padding: 0;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
}
/*  Header-workspace */
.hero{
  background-image: url();
}
.header-w {
  display: flex;
  max-width: 1170px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}
.logo {
  color: #25a4ad;
  font-family: Gilroy-Heavy;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.disflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 52px;
}
.disflex-one {
  display: flex;
}
.list-header {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 50px;
}
.buttons {
}
.sign-in-btn {
  margin-right: 28px;
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: inherit;
}
.sign-up-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #25a4ad;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 152px;
  border-radius: 1px;
  border-color: #25a4ad;
  background-color: inherit;
  padding: 18px 45px;
}

/* Main-workspace */
.section {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* Section-1-workspace */
.section-one {display: flex;
}
.title{
  color: #313131;
font-family: Gilroy-Thin;
font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: 100%;
margin-bottom: 30px;
}
.sub-title{
  color: #25A4AD;
  font-family: Gilroy-SemiBold;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;}
  .text-title{
    color: #313131;
font-family: Gilroy-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.9%;
margin-bottom: 40px;
  }
  .buttons-two{
    display: flex;
    padding-bottom: 182px;
  }
  .get-started{
    color: #FFF;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 1px;
border-color: inherit;
background-color: #25A4AD;
width: 215px;
height: 58px;
margin-right: 20px;  }
  .explore{
    color: #25A4AD;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    border-radius: 1px;
    border-color: #25A4AD;
    background-color: inherit;
    width: 180px;
height: 58px;

  }
/* Section-2-workspace */
.disflex-two {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
background-color: #F8F8F8; 
align-items: center;
justify-content: center;
padding-top: 73px;
padding-bottom: 74px;
}
.logo-list{}
/* Section-3-workspace */
.section-3{
  display: flex;
  padding-top: 140px;
}

.best{
  color: #313131;
font-family: Gilroy-Thin;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: 100%;
margin-left: 519px;
margin-bottom: 30px;
}
.services{
  color: #25A4AD;
  font-family: Gilroy-SemiBold;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.text-two{
  width: 620px;
  color: #313131;
text-align: center;
font-family: Gilroy-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.9%; 
display: block;
margin-left: 410px;
margin-bottom: 80px;
}
.pictures-3{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "webdevelopment webdesign"
    "database seo";
  row-gap: 40px;
  column-gap: 40px;
  width: 482px;
  list-style: none;
  padding: 0;
  margin-left: 346px;
}
.picture-1{
  grid-area: webdevelopment;
}
.picture-2{  grid-area: webdesign;
}
.picture-3{  grid-area: database;
}
.picture-4{  grid-area: seo;
}

.pictures-all{
  width: 482px;
}
.button-three{
  margin-top: 80px;
  align-items: center;
  
  display: flex;
}
.explore-all{
  color: #25A4AD;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 18px 65px;
border-radius: 1px;
border-color: #25A4AD;
margin-left: 612px;
margin-bottom: 140px;
}
/* Section-4-workspace */
.section-4{
  display: flex;
  padding-top: 80px;
  background-color: #F8F8F8;
}
.features{
  display: flex;
  justify-content: center;

}
.feature-list{
  display: inline-flex;

}
.item-feature{
  justify-content: center;
  align-items: center;
}
.subtitle-extra{
color: #25A4AD;
text-align: center;
font-family: Gilroy-SemiBold;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.subtitle-4{
  color: #313131;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Section-5-workspace */
.section-5{
  
}
.best-5{padding-top: 140px;}
.director{
  display: flex;
  gap: 20px;
  margin-left: 135px;
}
.director-image{
  width: 482px;
}
.director-description{
  padding: 104px 40px 136px;
  background-color: #F8F8F8;
}
.director-title{
  color: #313131;
font-family: Gilroy-SemiBold;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 25px;
}
.description{
  color: #313131;
font-family: Gilroy-Regular;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.9%;
width: 588px;
padding-bottom: 10px;
display: flex;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.stars{
  background-color: inherit;
  margin-bottom: 20px;
}
.robert{
  color: #313131;
font-family: Gilroy-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 6px;
}
.role{
  color: #313131;
font-family: Gilroy-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.arrows{
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 78px;
margin-bottom: 140px;
}
/* Section-6-workspace */
.pricing{margin-bottom: 80px;}
/* Footer-workspace */
