@font-face {
  font-family: Gilroy-SemiBold;
  src: local("Gilroy-SemiBold"),
    url("./../fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Gilroy-Medium;
  src: local("Gilroy-Medium"),
    url("./../fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy-Thin;
  src: local("Gilroy-Thin"),
    url("./../fonts/Gilroy-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy-Regular;
  src: local("Gilroy-Regular"),
    url("./../fonts/Gilroy-Regular.ttf") format("truetype");
}
/* WORKSPACE.HTML */
p,
h2,
h1,
h3,
h4,
h5,
body,
div {
  margin: 0;
  padding: 0;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
}
/*  Header-workspace */
.hero {
  background-image: url(./../images-workspace/background-hero.png);
}
.header-w {
  display: flex;
  max-width: 1170px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}
.logo {
  color: #25a4ad;
  font-family: Gilroy-Heavy;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.disflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 52px;
}
.disflex-one {
  display: flex;
}
.list-item {
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.list-header {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 50px;
}

.sign-in-btn {
  margin-right: 28px;
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: inherit;
}
.sign-up-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #25a4ad;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 152px;
  border-radius: 1px;
  border-color: #25a4ad;
  background-color: inherit;
  padding: 18px 43px;
}

/* Main-workspace */
.section {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

/* Section-1-workspace */
.section-1 {
  background-image: url(./../images-workspace/girl.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 32px;
  padding-top: 200px;
  padding-bottom: 185px;
  box-sizing: border-box;
}
.title {
  color: #313131;
  font-family: Gilroy-Thin;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 30px;
}
.sub-title {
  color: #25a4ad;
  font-family: Gilroy-SemiBold;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.text-title {
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.9%;
  margin-bottom: 40px;
}
.buttons-two {
  display: flex;
}
.get-started {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1px;
  border-color: inherit;
  background-color: #25a4ad;
  width: 215px;
  height: 58px;
  margin-right: 20px;
}
.explore {
  color: #25a4ad;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1px;
  border-color: #25a4ad;
  background-color: inherit;
  width: 180px;
  height: 58px;
}
/* Section-2-workspace */
.section-2 {
  background-color: #f8f8f8;
  max-width: 100%;
}
.disflex-two {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 73px;
  padding-bottom: 74px;
}

/* Section-3-workspace */
.section-3 {
  display: flex;
  padding-top: 130px;
}

.sub-div-3{
  margin-left: auto;
  margin-right: auto;
}
.best {
  color: #313131;
  font-family: Gilroy-Thin;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}
.services {
  color: #25a4ad;
  font-family: Gilroy-SemiBold;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.text-two {
  color: #313131;
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.9%;
  display: block;
  margin-bottom: 76px;
}
.pictures-3 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "webdevelopment webdesign"
    "database seo";
  row-gap: 40px;
  column-gap: 40px;
  list-style: none;
  padding: 0;
  grid-template-columns: 482px 482px;
}
.picture-1 {
  grid-area: webdevelopment;
}
.picture-2 {
  grid-area: webdesign;
  position: relative;
  top: 80px;
}
.picture-3 {
  grid-area: database;
}
.picture-4 {
  grid-area: seo;
  position: relative;
  top: 80px;
}

.pictures-all {
  width: 482px;
}
.button-three {
  margin-top: 102px;
  align-items: center;

  display: flex;
}
.explore-all {
  color: #25a4ad;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px 65px;
  border-radius: 1px;
  border-color: #25a4ad;
  margin-left: auto;
  margin-top: 79px;
  margin-bottom: 90px;
  margin-right: auto;
}
.explore-all-3 {
  margin-top: 0;
}

/* Section-4-workspace */
.section-4 {
  display: flex;
  padding-top: 80px;
  background-color: #f8f8f8;
}
.features {
  display: flex;
  justify-content: center;
}
.feature-list {
  display: inline-flex;
}
.item-feature {
  justify-content: center;
  align-items: center;
}
.work-load {
  background-color: #fff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(49, 49, 49, 0.02),
    0px 20px 13px 0px rgba(49, 49, 49, 0.05),
    0px 38.51852px 25.48148px 0px rgba(49, 49, 49, 0.06);
  padding: 38px 33px 40px;
  max-width: 350px;
}
.learn-1 {
  text-align: center;
  color: #25a4ad;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.learn {
  text-align: center;
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.time {
  background-color: inherit;
  border: 1px solid #d8d8d8;
  padding: 38px 33px 40px;
  max-width: 350px;
}
.item-feature:not(:last-child) {
  margin-right: 40px;
}

.subtitle-extra {
  color: #25a4ad;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.subtitle-4 {
  color: #313131;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.text-four {
  color: #313131;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.9%;
  margin-bottom: 49px;
}
/* Section-5-workspace */

.best-5 {
  padding-top: 133px;
}
.director {
  display: flex;
  gap: 20px;
  
}
.director-image {
  width: 482px;
}
.director-description {
  padding: 104px 40px 136px;
  background-color: #f8f8f8;
}
.director-title {
  color: #313131;
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.description {
  color: #313131;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.9%;
  width: 588px;
  padding-bottom: 10px;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.stars {
  background-color: inherit;
  margin-bottom: 20px;
}
.robert {
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 6px;
}
.role {
  color: #313131;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
  margin-bottom: 140px;
}
/* Section-6-workspace */
.pricing {
  margin-bottom: 80px;
}
.list-sct-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-list-6 {
  display: flex;
  gap: 42px;
}
li.item-list-6a:not(:last-child) {
  margin-bottom: 16px;
}
li.item-list-6:not(:last-child) {
  margin-bottom: 16px;
}
.title-6 {
  color: #313131;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  margin-top: 50px;
}
.for-starter {
  margin-bottom: 17px;
}
.for-teams {
  margin-bottom: 18px;
}
.for-company {
  margin-bottom: 36px;
}

.title-6-a {
  margin-top: 50px;
  color: #25a4ad;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 30px */
  text-transform: capitalize;
}
.text-6 {
  color: #313131;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.fifty-nine {
  margin-bottom: 34px;
}
.ninty-nine {
  margin-bottom: 34px;
}
.custom {
  margin-bottom: 44px;
}
.one {
  border: 1px solid;
  border-color: #d8d8d8;
  max-width: 362px;
  justify-content: center;
  margin-top: 100px;

}
.two {
  border: 1px solid;
  border-color: #fff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(49, 49, 49, 0.02),
    0px 20px 13px 0px rgba(49, 49, 49, 0.05),
    0px 38.51852px 25.48148px 0px rgba(49, 49, 49, 0.06);
  max-width: 362px;
  justify-content: center;
  margin-top: 45px;
}
.three {
  border: 1px solid;
  border-color: #d8d8d8;
  max-width: 362px;
  justify-content: center;
  margin-top: 100px;
}
.text-6-a {
  color: #25a4ad;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.list-6 {
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-left: 50px;
  margin-right: auto;
  list-style-image: url("./../images-workspace/vmark.png");
}
.list-6-a {
  color: #25a4ad;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-left: 50px;
  margin-right: auto;
  list-style-image: url("./../images-workspace/Vectorvmarkblue.png");
}
.item-list-6 {
  color: #313131;
}
.item-list-6a {
  color: #25a4ad;
}
.button-one-three {
  color: #25a4ad;
  background-color: inherit;
  font-family: Gilroy-Medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 19px 78px;
  margin-top: 49px;
  margin-bottom: 50px;
  margin-left: 42px;
  margin-right: 42px;
  border: 1px solid #25a4ad;
}
.button-two {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #25a4ad;
  padding: 19px 78px;
  margin-top: 49px;
  margin-bottom: 50px;
  margin-left: 42px;
  margin-right: 42px;
  border-color: inherit;
}
.button-four{
  color: #25a4ad;
  background-color: inherit;
  font-family: Gilroy-Medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 19px 78px;
  margin-top: 85px;
  margin-bottom: 50px;
  margin-left: 42px;
  margin-right: 42px;
  border: 1px solid #25a4ad;
}
/* Section 7 */

.faqs {
  margin-top: 140px;
  max-width: 706px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 140px;
}
.faqs-title {
  color: #25a4ad;
  font-family: Gilroy-SemiBold;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 49px;
}
.sub-faqs-1 {
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 95px 0px rgba(201, 203, 204, 0.3);
  max-width: 706px;
  margin-bottom: 30px;
}
.par-7 {
  display: block;
}
.sub-faqs {
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 95px 0px rgba(201, 203, 204, 0.3);
  max-width: 706px;
  padding-top: 10px;

}

.sub-faqs:not(:last-child) {
  margin-bottom: 30px;
}
.extra-div{
  column-gap: 30px;
  row-gap: 32px;


}
.text-7 {
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 26px;
  padding-right: 114px;
  padding-bottom: 26px;
}



.text-7-middle {
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 38.5px;
  padding-right: 114px;
  padding-bottom: 26px;
}

.sub-text-7 {
  color: #313131;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.9%;
  padding-right: 118px;
  padding-bottom: 25px;
}
.img-7 {
  width: 26px;
  margin: 34px 31px 40px 43px;
}
.minus {
  width: 26px;
  margin: 34px 31px 40px 43px;
}
/* Footer-workspace */
.footer-workspace {
  background-color: #313131;
  color: #fff;
}
.title-footer {
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 76px;
  padding-top: 170px;
  padding-bottom: 62px;
}
.footerbutton {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  width: 218px;
  padding: 22px 44px 21px;
  align-items: center;
  display: flex;
}
.footer-context {
  display: flex;
  margin-top: 180px;
  margin-bottom: 83px;
  align-items: flex-start;
  justify-content: center;
  margin-left: 100px;
}
.div-footer-1 {
  margin-right: 237px;
}
.div-footer-2 {
  margin-right: 145px;}
.div-footer-3 {
  margin-right: 168px;
}

.footer-logo {
  max-width: 118px;
  margin-bottom: 23px;
}
.small-text {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 168px;
}
.small-footer-title {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
}
li.footer-item:not(:last-child) {
  margin-bottom: 26px;
}

.footer-item-extra {
  margin-bottom: 23px;
}

.footer-list {
  color: #fff;
  font-family: Gilroy-Medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 26px;
}
.sub-text-footer {
  color: #fff;
  font-feature-settings: "liga" off;
  font-family: Gilroy-Medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
}
