:root {
  --text: #111827;
  --text-hero: #374151;
  --btn-clr: #7c3aed;
  --text-sct-svn: #111827;
  --sct-four: #d5fafc;
  --footer-back-clr: #000;
  --text-footer: #fff;
  --number: #111827;
  --mini-num: #111827;
}

p,
h2,
h1,
h3,
h4,
h5,
body,
div {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: black;
}
.first {
  width: 100%;
  background-image: url(./images/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 1216px;
  width: 100%;
  backdrop-filter: blur(50px);
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  width: 128px;
  height: 32px;
  padding-right: 32px;
}
.list-header {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
}
.section {
  max-width: 1216px;
  margin: 0 auto;
  width: 100%;
}

.section-one {
  padding-top: 96px;
  display: flex;
}
.hero {
}
.title-one {
  color: var(--text);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.5px;
  margin-bottom: 16px;
}
.text-hero {
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-hero);
}
.picture {
}
.section-two {
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.title-two {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 8px;
}

.list-item {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.list-item:hover {
  background-color: green;
  color: white;
  border-radius: 5px;
}
.list-item:focus {
  background-color: pink;
}
.list-logo {
  width: 1212px;
  padding: 24px 0;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
  justify-content: center;
}
.section-three {
  text-align: center;
  max-width: 800px;
  margin: 96px auto 64px auto;
}
.text-sct-three {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-hero);
}
.features {
  display: flex;
  align-items: center;
  text-align: center;
}
.item-1 {
  grid-area: item1;
}
.item-2 {
  grid-area: item2;
}
.item-3 {
  grid-area: item3;
}
.item-4 {
  grid-area: item4;
}
.item-5 {
  grid-area: item5;
}
.item-6 {
  grid-area: item6;
}
/* Section 4 */

.section-four {
  background-color: var(--sct-four);
}
.container-four {
  display: flex;
  justify-content: center;
  column-gap: 32px;
}
.section-four-divone {
  background-image: url(./images/Quote\ mark.png);
  background-repeat: no-repeat;
  background-position-y: 64px;
  background-position-x: 0;
}
.four-one {
  width: 100%;
  padding-top: 120px;
}
.four-two {
  width: 100%;
  padding-top: 196px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.w100 {
  width: 100%;
}
.box-title {
  box-sizing: content-box;
  padding-left: 104px;
  margin-bottom: 64px;
}
.box-1 {
  box-sizing: content-box;
  margin-bottom: 156px;
  margin-left: 138px;
  max-width: 384px;
  background-color: var(--text-footer);
}

.only-text-1 {
  padding: 32px;
  width: 100%;
  box-sizing: border-box;
}
.only-text-1-container {
  padding-left: 32px;
  padding-top: 32px;
  background-image: url(./images/Quote\ marklittlequote.png);
  background-repeat: no-repeat;
  background-position-y: 32px;
}
.box-2 {
  box-sizing: content-box;
  max-width: 488px;
  margin-right: 106px;
  margin-bottom: 32px;
  background-color: var(--text-footer);
}
.box-3 {
  box-sizing: content-box;
  max-width: 384px;
  margin-right: 210px;
  margin-bottom: 96px;
  background-color: var(--text-footer);
}

.text-sct-four {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-sct-svn);
}
.mini-title {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 24px;
}
.mini-text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.section-five {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 32px;
}

.sub-item {
}
.item-download {
  display: flex;
  flex-direction: row;
}
/* Section 5 */
.list-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "item1 item2"
    "item3 item4";
  column-gap: 32px;
  row-gap: 40px;
}
.item-downloads-1 {
  grid-area: item1;
}
.item-downloads-2 {
  grid-area: item2;
}
.item-downloads-3 {
  grid-area: item3;
}
.item-downloads-4 {
  grid-area: item4;
}

.mini-pic {
  width: 32px;
  padding: 8px;
  margin-right: 16px;
}
.number {
  color: var(--number);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 125% */
  letter-spacing: -0.9px;
}
.mini-num {
  color: var(--mini-num);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* section 6 */
.section-six {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 32px;
}
.section-six .container {
  max-width: 448px;
  width: 100%;
}
.section-six .container-logo {
  width: 100%;
}
.container-logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "itemx1 . itemx2 . itemx3 . itemx4"
    ". itemx5 . itemx6 . itemx7 .";
  row-gap: 64px;
  margin: 0 78px;
  position: relative;
  max-width: 500px;
  padding-top: 20px;
}
.container-logo .circle {
  width: 500px;
  height: 250px;
  background-color: #ede9fe;
  border-radius: 0rem 0rem 250rem 250rem;
  position: absolute;
  z-index: -1;
}

.item-x1 {
  grid-area: itemx1;
}
.item-x2 {
  grid-area: itemx2;
}
.item-x3 {
  grid-area: itemx3;
}
.item-x4 {
  grid-area: itemx4;
}
.item-x5 {
  grid-area: itemx5;
}
.item-x6 {
  grid-area: itemx6;
}
.item-x7 {
  grid-area: itemx7;
}

/* Section 7 */
.section-seven {
  background-color: #1db5be;
}
.section-seven-bg {
  background-color: #1db5be;
}
.sect-svn {
  width: 100%;
}
.svn-bg {
  display: flex;
  gap: 32px;
}
.title-svn {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  letter-spacing: -1.2px;
  margin-top: 111px;
  margin-bottom: 8px;
}
.text-sct-svn {
  padding-top: 48px;
  margin-bottom: 8px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--text-sct-svn);
}
.pictures {
  display: flex;
  height: 558px;
  width: 100%;
}
.picture-2 {
  align-self: flex-end;
}
.picture-1 {
  width: 320px;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.buttons {
}

.button-start {
  padding: 16px 24px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--btn-clr);
  border: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.button-video {
  padding: 16px 24px;
  border-radius: 8px;
  color: #fff;
  color: var(--btn-clr);
  border: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background-color: inherit;
  display: inline-flex;
}
.button-video-img {
  margin-right: 8px;
}

.disflex-one {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.disflex-two {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 64px;
  border-top: 1px solid #e5e7eb;
  align-self: baseline;
}
.list {
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
  gap: 64px;
  column-gap: 30px;
}
.list-item {
  padding: 8px;
}
.item h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  color: var(--neutral-900, #111827);
  text-align: center;
  font-feature-settings: "liga" off;

  /* Display sm / Bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 133.333% */
}
nav {
  margin-left: 32px;
}

.text {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--text);
}

.trademark {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.footer-cont {
  background-color: var(--footer-back-clr);
}
.text-footer {
  color: var(--text-footer);
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 0;
}

.footer-div-one {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}
.footer-logo {
  width: 32px;
}
.disflex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "download download license . . ."
    "about features pricing news help contact";
  row-gap: 12px;
  column-gap: 24px;
  width: 420px;
  list-style: none;
  padding: 0;
}

.items1 {
  grid-area: download;
}
.items2 {
  grid-area: license;
}
.items3 {
  grid-area: about;
}
.items4 {
  grid-area: features;
}
.items5 {
  grid-area: pricing;
}
.items6 {
  grid-area: news;
}
.items7 {
  grid-area: help;
}
.items8 {
  grid-area: contact;
}
.footer-two {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.badge-1 {
  display: flex;
  width: 135px;
  height: 40px;
}

.badge-2 {
  display: flex;
  width: 135px;
  height: 40px;
}
